---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
// Includes Bourbon, Neat, and Bitters (thanks, thoughtbot!)
@import
  "bourbon/bourbon",
  "base/base",
  "neat/neat",
  "layout"
;

h3 {
  @media (max-width: 600px) {
    font-size: 1.2em;
    line-height: 1.5;
  }
}

.namecard img {
  width: 170px;
}


.namecard {
    clear: left;
    padding: 0 0 0 0;
}

.namecard p {
    fontsize: 0.9em;
    margin: 0;
}

.person-img-wrap {
  float: left;
  margin: 5px 5px 5px 5px;
}

.project-img-wrap {
  float: left;
  margin: 0;
  width: 100%
}

.project-img-wrap img{
  width: 100%; /* 이미지를 래퍼 요소에 맞추기 */
  max-width: 600px; /* 최대 너비를 설정하여 너무 커지는 것을 방지 */
  height: auto; /* 이미지 비율 유지 */
  display: block; /* 이미지 중앙 정렬을 위해 블록 요소로 설정 */
  margin: 0 auto; /* 이미지 중앙 정렬 */}

.gallery-img-wrap {
  float: center;
  margin: 50px 50px 50px 50px;
}

.gallery-img-wrap img {
    width: 600px;
    margin: auto;
    display: block;
}

.gallery-year-section {
  text-align: center;
  margin-bottom: 40px;
}

.gallery-month-section {
  text-align: center;
  margin-bottom: 20px;
}

.gallery-year-title {
  font-size: 2em;
  margin: 20px 0;
}

.gallery-month-title {
  font-size: 1em;
  margin: 20px 0;
}


.position {
  clear: left;
  margin: 0;
  padding: 20px 0 0 0;
}

.member-career {
  margin: 0;
}
.member-career:last-child {
  margin: 0 0 1rem 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-content {
  flex: 1;
}

.wrap-img{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 25%;
  min-width: 160px;
  @media (min-width: 600px) {
    max-width: 160px;
  }
}

.wrap-project-img{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 30%;
  min-width: 10px;
  @media (min-width: 600px) {
    max-width: 1600px;
  }
}

.wrap-gallery-img{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 50%;
  min-width: 100px;
  margin: 0 auto 20px;
  @media (min-width: 600px) {
    max-width: 2200px;
  }
}

.wrap-gallery-content{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 30px;
  float: center;
  width: 75%	
}

.wrap-text, .wrap-text-alumni{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 30px;
  float: left;
}

.wrap-text{
  width: 70%	
}

.wrap-text-alumni{
  width: 100%
}

.spacing{
  margin-top: 40px;
  margin-bottom: 40px;
}

.position-members img {
  width: 100%;
  @media (min-width: 600px) {
    width: 160px;
  }
  height: auto;
}

.member-name {
  margin: 0;
}

.navigation .navigation-wrapper {
    max-width: 70em;
}

.page-content .wrapper {
    max-width: 70em;
}

.page-project .wrapper {
    max-width: 70em;
}

.page-content .post-meta {
    max-width: 70em;
}

  .site-footer .wrapper {
    max-width: 70em;
}



.other-version-button {
  float: right;

  border: 1px solid #2980b9;
  border-radius: 4px;
  padding: 0 .5em;
  line-height: 2;
  display: inline-block;
  
  margin-top: 1em;
}
