<div class="container">
    {% for state in site.data.gallery %}
    <div class="status">
    {% for photo in state.stateObj.photos %}
        <div class='wrap-gallery-img'>
            <div class='gallery-img-wrap'>
                <img src="{{'/assets/img/gallery/' | prepend: site.baseurl }}{{photo.photoInfo.img}}" alt="{{photo.photoInfo.content}}"/>
            </div>
        </div>
        <div class='wrap-text'>
            <h3>{{phto.photoInfo.content}}</h3>
            <p>{{photo.photoInfo.content}} </p>
        </div>
    {% endfor %}
    </div>
    {% endfor %}
</div>
