<div class="container">
    {% for state in site.data.gallery %}
    <div class="status">
    {% for photo in state.stateObj.photos %}
        <div class='wrap-project-img'>
            <div class='project-img-wrap'>
                <img src="{{'/assets/img/gallery//' | prepend: site.baseurl }}{{photo.name}}" alt="{{photo.content}}"/>
            </div>
        </div>
        <div class='wrap-text'>
            <h3>{{phto.content}}</h3>
            <p>{{photo.content}} </p>
        </div>
    {% endfor %}
    </div>
    {% endfor %}
</div>
